@import '~bootstrap/scss/bootstrap';
@import './typography.scss';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

h1 {
  height: calc(100%/10);
}

.alt-color {
  background-color: $alt-color;
}

.auth-contents {
  height: calc(100%/10*2);
}

.failure {
  border: 3px solid red;
}

.game-contents {
}

.square {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
  padding-top: calc(100% / 6);
  padding-bottom: calc(100% / 6);
}

.success {
  border: 3px solid green;
}

#board {
  margin: 0em 30%;
  padding: 1em;
}
